*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.main-heading{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: green;
}

#btn-container{
    display: flex;
    justify-content: center;
    gap:100px ;
    
}
button{
    background-color: white;
    color: black;
    border: none;
    height: 50px;
    font-size:1.5rem ;
    width: 100px;
    border-radius: 10px;
    
}
 .btn-red{
    background-color: red;
    color: white;
}


