*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.head{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: green;
}

.buttons{
    display: flex;
    justify-content: center;
    gap:100px ;
}
button{
    background-color: white;
    color: black;
    border: none;
    height: 50px;
    font-size:1.5rem ;
    width: 100px;
    border-radius: 10px;
}
