*{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.container{
    font-size: 20px;
    margin-top: 50px;
}

.title{
    color: green;
    font-size: 50px;
}
#form{
    color: white;
    border: 1px solid white;
    height: 200px;
    text-align: center;
}
#div{
    border: 1px solid white;
    margin-left:10px ;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 150px;
    text-align: center;
}
#p{
     border: 1px solid white;
    margin-left:10px ;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100px; 
}