body{
  background-color: pink;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

.product {
  border: 1px solid #090909;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(122, 219, 246);
  
}

.price {
  color: black;
  font-weight: bold;
}

.counter-controls {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-display {
  font-size: 1.2rem;
  font-weight: bold;
  min-width: 30px;
}

.total {
  border-top: 1px solid #090808;
  padding-top: 10px;
  margin-top: 10px;
  color: #0a0a0a;
}
button{
  background-color: rgb(33, 232, 232);
}